

.column{
    display: inline-flex;
}
.column1{
    background-color: gray;
    width: 25%;
    border: 1px solid white;
    padding: 10px 10px;
}
@media (max-width:800px) {
    .column{
        display: inline;
    }
    .column1{
        margin: auto;
    }
}
 
