.container{
    background-color: wheat;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content:flex-end;
    
  
   
}

.box{
    width:150px ;
    height: 100px;
   margin-top: 400px;
   
    
   
}
.one{
    background-color: green;
}
.two{
    background-color: blue;
    
}
 .three{
    background-color: red;
    
}