
body {
    background: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
  }
  .nav{
      display:flex;
      justify-content: space-around;
      flex-direction: row;
      text-align: center;

  }
  .box{
   padding: 6px 20px;
  }
  .box::after{
      content: '';
      position: relative;
      top:0;
      left: 0;
      width: 8px;
  }
