body {
    background: #131313;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dot {
    width: 15px;
    height: 15px;
    background: teal;
    border-radius: 100%;
    margin: 0 10px;
  }
  .dot1 {
    animation: jump 1s infinite ;
  }
  .dot2 {
    animation: jump 1s infinite 0.2s;
  }
  .dot3 {
    animation: jump 1s infinite 0.4s;
  }

  @keyframes jump {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}